
    
    
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
      </head>
      <body>
        
            <div class="row" style="margin-left: 15%;margin-top: 5%;">
                <div class="col-sm-3">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <h3 class="card-title">Request Add Products</h3>
                      <form #myform = "ngForm" >
                      <input type="text" class="form-control" placeholder="Product_ID" aria-label="Product_ID" aria-describedby="basic-addon1">
                      <p> </p>
                      <input type="text" class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                      <p> </p>

                      <a href="#" class="btn btn-dark">Submit</a>
                    </form>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-3"style="margin-left: 7%;">
                    <div class="card bg-light mb-3">
                      <div class="card-body">
                        <h3 class="card-title">Order Status Update</h3>
                        <form #myform = "ngForm"  >
                        <input type="text" class="form-control" placeholder="Product_ID" aria-label="Product_ID" aria-describedby="basic-addon1">
                        <p> </p>
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04">
                              <option selected>Update...</option>
                              <option value="1">Order Confirmed</option>
                              <option value="2">Shipped</option>
                              <option value="3">Delivered</option>
                            </select>
                            <div class="input-group-append">
                              <button class="btn btn-outline-dark" type="button">Button</button>
                            </div>
                          </div>
                          <p> </p>
                          <p> </p>
                        <a href="#" class="btn btn-dark">Submit</a>
                    </form>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3" style="margin-left: 13%;">
                    <div class="card bg-light mb-3">
                      <div class="card-body">
                        <h3 class="card-title">Employee Profile</h3>
                        <p class="text-muted" >Test info about the emploee as in </p>
                        <p class="text-muted" >Employee_ID </p>
                        <p class="text-muted" >Email</p>
                        <p class="text-muted">First Name</p>
                        <p class="text-muted">Last Name</p>
                        
                      </div>
                    </div>
                  </div>

                  
              </div>

            
        
      </body>
      </html>