
    
    
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
      </head>
      <body>
        
            <div class="row" style="margin-left: 15%;margin-top: 5%;">
                <div class="col-sm-3">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <h5 class="card-title">Add Product</h5>
                      <input type="text" class="form-control" placeholder="Product_ID" aria-label="Product_ID" aria-describedby="basic-addon1">
                      <p> </p>
                      <a href="#" class="btn btn-dark">Submit</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <h5 class="card-title">Delete Product</h5>
                      <input type="text" class="form-control" placeholder="Product_ID" aria-label="Product_ID" aria-describedby="basic-addon1">
                      <p> </p>
                      <a href="#" class="btn btn-dark">Submit</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                      <div class="card-body">
                        <h5 class="card-title">Update Product</h5>
                        <input type="text" class="form-control" placeholder="Product_ID" aria-label="Product_ID" aria-describedby="basic-addon1">
                        <p> </p>
                        <input type="text" class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                        <p> </p>
                        <a href="#" class="btn btn-dark">Submit</a>
                      </div>
                    </div>
                  </div>
              </div>

            
        
      </body>
      </html>