
    
    
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Employee</title>
          
          
      </head>
      <body > 
        <!-----Add a request to admin-->
            <div class="row" style="margin-left: 15%;margin-top: 5%;">
                <div class="col-sm-3">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <h3 class="card-title">Add Request</h3>
                      <form #myform = "ngForm" >
        
                      <div>
                        <div class="input-group">
                        
                          <select #subjectText class="custom-select" id="inputGroupSelect04">
                            <option selected>Subject...</option>
                            <option value="ADD">Add Product</option>
                            <option value="UPDATE">Update Product</option>
                            <option value="DELETE">Delete Product</option>
                          </select>
                          &nbsp;&nbsp;
                      
                      <input type="text" #descText class="form-control" placeholder="Description" aria-label="Quantity" aria-describedby="basic-addon1">
                      <p> </p>
                        </div>
                      </div>
                      

                    </form>
                    
                    </div>
                    <button class="btn btn-dark" (click) ="createRequest(subjectText.value, descText.value)">Submit</button>
                </div>
              </div>
           
            <!---- Order   Status update card-->
                <div class="col-sm-3"style="margin-left: 7%;">
                    <div class="card bg-light mb-3">
                      <div class="card-body">
                        <h3 class="card-title">Order Status Update</h3>

                        <form #myform = "ngForm"  >
                          <div class="input-group">
                        <input #userIdOrder type="text" name="" class="form-control" placeholder="User_ID" aria-label="User_ID" aria-describedby="basic-addon1">
                        &nbsp;&nbsp;
                        <button class="btn btn-dark" (click)="viewOrders(userIdOrder.value)" >View Orders</button>
                        </div>
                        
                        
                        <!---Displaying all the orders to update the status-->
          
                       <div *ngFor = "let o of orderStatus">
                        <h2>Order ID: {{o.id}}</h2>
                        <h2 #currentStatus>Current Status: {{o.status}}</h2>
                        <div class="input-group">
                            <select #statsUpdate class="custom-select" id="inputGroupSelect04">
                              <option selected>Update...</option>
                              <option value="Order Confirmed">Order Confirmed</option>
                              <option value="Shipped">Shipped</option>
                              <option value="Canceled">Canceled</option>
                              <option value="Delivered">Delivered</option>
                              <option value="Delivered">Cancelled</option>
                            </select>
                            <div class="input-group-append">
                              <!---Please add a function to update order status-->
                              <button class="btn btn-outline-dark" type="button" (click) = "statusUpdate(statsUpdate.value, currentStatus, o.id, userIdOrder.value)">Button</button>
                            </div>
                          </div>
                      </div>
                          <p> </p>
                          <p> </p>
                       </form>

                      </div>
                    </div>
                  </div>
                   
                    <!-----Employee Profile Card -->
                  <div class="col-sm-3" style="margin-left: 16%;">
                    <div class="card bg-light mb-3">
                      <div class="card-body">
                        <form>
                        
                        <!---Button to update the password-->
                        <button type="button" id="openModal" #openModal style="margin-left: 20%;" class="btn btn-outline-dark" (click)="triggerModal(UpdateEmployee)" data-toggle="modal" data-target="#modalData" ><img style="width:1cm;height: 0.3cm;" src="http://simpleicon.com/wp-content/uploads/key-4.png">Update Password</button>
                        
                      </form>
                      </div>
                    </div>
                  </div>
                
 <!---Button to Display all Products and user -->
                <div class="col-sm-3" style="margin-left: 73%;">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <form>
                      
                      <!---Button to Display all Products and user -->
                      <button type="button" id="openModal" #openModal style="margin-left: 20%; width: 10rem; height: 3rem;" class="btn btn-outline-dark" (click)="triggerModal(ProductModal)" data-toggle="modal" data-target="#ProductModal" >Product Catlog</button>
                      <br>
                      <br>
                      <button type="button" id="openModal" #openModal style="margin-left: 20%; width: 10rem; height: 3rem;" class="btn btn-outline-dark" (click)="triggerModal(userModal)" data-toggle="modal" data-target="#userModal" >User Catlog</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--- button to display All the requests by the Users-->
              <div class="card bg-light mb-3" style="margin-top: 6%;">
                <p>{{Requp}}</p>
              <button class="btn btn-dark" value="Submit" (click)="viewRequest()"> View all requests </button>
            </div>
              
              <div *ngIf="viewReq" >
              <div  style="margin-left: 30% ;" *ngFor = "let lu of lockedUsers">
                <div class="row">
                <div class="col-sm-6"  >
                  
                  <div class="card bg-light mb-3" style="margin-top: 6%;">
                  <div class="card-body">
                    <h2 class="card-title">Ticket Raised to Unlock the account of {{lu.fName}}</h2>
                    <button  class="btn btn-dark" value="Submit" style="margin-left: 70% ;" (click)="unlockUserAccount(lu.autoGenID)">Completed</button><!---  -->
                  </div>
                </div>
                  </div>
              </div>
            </div>
          </div>
        
         
          <!---Model to update employee pass word-->
          <ng-template #UpdateEmployee id="modalData" let-modal>
            <div class="modal-header">
              <h2>Profile Update</h2>
              <h2 class="modal-title" id="modal-basic-title">Update Password</h2>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" >×</span>
              </button>
            </div>
            <div class="modal-body">
              

              <form #myTicketForm = "ngForm" (ngSubmit) ="modal.close('save click'); updateEmployeePwd(newPass.value)" ngNativeValidate>
                  
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Username" aria-label="Employee ID" aria-describedby="basic-addon1" required>
                    </div>
                  <br>
                  
          
                  <div class="row">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">old Pass</span>
                      </div>
                    <input type = "password" class="form-control" placeholder=" Current Password" aria-label="Current Password" aria-describedby="basic-addon1" required>
                   
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">New Pass</span>
                    </div>
                  <input type = "password" #newPass class="form-control" placeholder=" New Password" aria-label="New Password" aria-describedby="basic-addon1" required>
                
                  
                </div> 
                <input style="margin-left: 80%;" id="reset_pass" type="reset"  class="btn btn-outline-light">
              </div>
           
                    <input type="submit" value="Update Password" class="btn btn-dark" >
                    <!-- <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Raise Ticket</button> -->
                 
                
              </form>
            </div>   
          </ng-template>







         

              <!-- <div> 
              <h2>Update Employee Password</h2>
              <form #empRef="ngForm" (ngSubmit)="updateEmployeePwd(empRef.value)">
                  <label>Employee Id</label>
                  <input type="text" name="cId" ngModel/><br/>
                  <label>Password</label>
                  <input type="text" name="password" ngModel/><br/>
                  <input type="submit" value="Update Password"/>
              </form>
          </div> -->
        
<!-----Modal to display user info-->
          <ng-template #userModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Users Catlog</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" >×</span>
              </button>
            </div>
            <div class="modal-body">
             
              <table class="table">
                <thead class="thead-dark">
                  <tr >
                    <th>User Name</th>
                    <th>User ID</th>
                    <th>Email</th>
                    <th>Funds</th>
                  </tr>
                </thead>
                <tbody class = 'tbody'>
                  <tr *ngFor="let user of usersWithOrders">
                    <th>{{user.fName}} {{user.lName}}</th>
                    <th>{{user.autoGenID}}</th>
                    <th>{{user.email}}</th>
                    <th>{{user.funds}}</th>
                  </tr>
                </tbody>
        
                
              </table>
            </div>
              
                  <div class="modal-footer">
                    <button style="margin-top:10% ;" (click) ="modal.dismiss('Cross click')" style= "width: 6rem; height: 2rem;" class="btn btn-dark">Close</button>
                  </div>
                
              
           
          </ng-template>


<!-----Modal to display all the products-->

          <ng-template #ProductModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">List of Products</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" >×</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead class="thead-dark">
                  <tr >
                    <th>Products Name</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                  </tr>
                </thead>
                <tbody class = 'tbody'>
                  <tr *ngFor="let product of allProducts">
                    <th>{{product.name}}</th>
                    <th>{{product._id}}</th>
                    <th>{{product.quantity}}</th>
                    <th>{{product.cost}}</th>
                  </tr>
                </tbody>
        
                
              </table>
              

               
                 
            </div>
              
                  <div class="modal-footer">
                    <button style="margin-top:10% ;" (click) ="modal.dismiss('Cross click')" style="width: 6rem; height: 2rem;" class="btn btn-dark">Close</button>
                  </div>
                
              
           
          </ng-template>




      </body>
      </html>