<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="row" style="margin-left: 15%;margin-top: 5%; border-right: 2px solid rgb(0, 0, 0) !important;">
        <div class="col-sm-6">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h2 class="card-title">Sign-Up</h2>
              <form #mySignUpForm = "ngForm"  (ngSubmit)="signUserUp(mySignUpForm.value)">
                <input type = "text" class="form-control" name = "fName" placeholder = "Your First Name" ngModel>
                <br/>             
                <input type = "text" class="form-control" name = "lName" placeholder = "Your Last Name" ngModel>
                <br/>     
                <input type = "email" class="form-control" name = "email"  placeholder = "Your Email" ngModel>
                <br/>
                <input type = "tel" class="form-control" name = "phoneNum"  placeholder = "Phone Number" ngModel>
                <br/>
                <input type = "password" class="form-control" name = "pWord"  placeholder = "Password" ngModel>
                <br/>
                <input type = "date" class="form-control" name = "dob"  placeholder = "Date of Birth: MM/DD/YR" ngModel>
                <br/>
                <input type = "address" class="form-control" name = "street"  placeholder = "Street" ngModel>
                <br/>
                <input type="text" class="form-control"  name = "city" id="validationCustom03" placeholder = "City"  required>
                <div class="invalid-feedback">
                      Please provide a valid city.
                 </div>
                 
                <br/>
                <input type = "state" class="form-control" name = "state"  placeholder = "State" ngModel>
                <br/>
         
                <input type="text" class="form-control" id="validationCustom05"  placeholder = "Zipcode" required ngModel>
                <div class="invalid-feedback">
                  Please provide a valid zip.
                </div>
                <br/>
                <p></p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                      Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                      You must agree before submitting.
                    </div>
                  </div>
                  <br>
                <button type="button" style="margin-left:80% ;" class="btn btn-dark">Sign-Up</button>
                
              </form>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4" >
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h2 class="card-title">Sign-IN</h2>
              <form #myform = "ngForm">
                

             
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input #signInInputID type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                <br>
                <input #signInPasswordID type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                <p> </p>
                <button type="button" class="btn btn-dark" (click)="signIn(signInInputID.value, signInPasswordID.value)" >Login</button>
                <button type="button" class="btn btn-dark" (click)="adminSignIn(signInInputID.value, signInPasswordID.value)" >Admin Login</button>
                <button type="button" class="btn btn-dark" (click)="employeeSignin(signInInputID.value, signInPasswordID.value)" >Employee Login</button>

                <p></p>
                    <p> </p>

                
                <button type="button" style="margin-left: 20%;" class="btn btn-link" (click)="triggerModal(modalData)">Forgot Password/Username</button>

              <ng-template #modalData let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Raise Ticket to Reset</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true" >×</span>
                  </button>
                </div>
                <div class="modal-body">
                  

                <form #myform = "ngForm"  >
                <input type = "text" class="form-control" name = "User_Fname" placeholder = "Your First Name" ngModel>
                <br/>
              
                <input type = "text" class="form-control" name = "User_Lname" placeholder = "Your Last Name" ngModel>
                <br/>
              
                <input type = "email" class="form-control" name = "Email"  placeholder = "Your Email" ngModel>
                <br/>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                <br>
                
                
              </form>
              
              
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Raise Ticket</button>
                </div>
                </div>
                                 
          
               
       
              </ng-template>





            </form>
            </div>
          </div>
        </div>
        
    </div>

</body>
</html>