<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>User</title>
</head>
<body>



<!--- Landing page diaplaying static images -->
  <div *ngIf="notShopping" class="lightbox">
    <div class="row">
      <div class="col-lg-6">
        <img
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
          alt="Lightbox image 1"
          class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
        />
        <img
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Square/1.jpg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Square/1.jpg"
          alt="Lightbox image 2"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      
      <div class="col-lg-5">
        <img
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Vertical/1.jpg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/1.jpg"
          alt="Lightbox image 3"
          class="w-100 shadow-1-strong rounded"
        />
      <p></p>
<!---- Button to take to user component -->
          <button style="width: 200px; height: 100px; " class="btn btn-dark" type="button"  (click)=" is_Shopping()" >Start Shopping</button>
       
      </div>
      
    </div>
  </div>






  <div class="row" >
    
    <div *ngIf="isShopping" class="container">
           <!----- Side Cart checkout and all features integrated -->
           
          <div *ngIf="isShopping" class="card" style="width: 14rem;margin-left:5%">
            <button (click) ="checkFunds(checkoutDate.value)" style="width: 14rem; height: 5rem;" class="btn btn-light"> <img style="width:3rem ; height:2rem ;" src="https://cdn0.iconfinder.com/data/icons/news-and-magazine/512/shopping_cart-256.png">Check Out</button>
           <div class="card-body">
              <div class="row">
              <h5>Order Date: <input #checkoutDate type="date"></h5>
            </div>
              
           <div class="col sm-5" *ngFor="let tempCart of tempCart" >
                  <h5> order name: {{tempCart.name}} </h5>
                  <h5> order quantity {{tempCart.quantity}} </h5>
                  <h5> order Price: ${{tempCart.price}}</h5>
              <!--- Deleted unwanted product-->
                <button  class="btn btn-dark" (click)="deleteProduct(tempCart.id)">delete</button>
           
             </div>
            </div>
          </div>
          </div>

    
          <!-- Profile View card -->
         
        <div *ngIf="isShopping" class="card" style="width: 12rem; margin-right:5%">
          <button style="width: 12rem; height: 5rem;" class="btn btn-light"> <img src="https://cdn2.iconfinder.com/data/icons/everything-in-office/65/icon_Ai-10-512.png" width="45" alt="" class="d-inline-block align-middle mr-2">
          </button>
        <div class="card-body">
            <h3 class="card-subtitle">Your Profle</h3>
            <button style="margin-left: 20%;" class="btn btn-dark" (click)="triggerModal(modalProfile)">View Profile</button>    
          </div>
        </div>
        </div>
    
 
     
  
            
            <div *ngIf="isShopping" class="row" >
                <!---- All products cards are displayed-->
                <div class="col-sm-3" *ngFor="let product of products" >
                  <div class="card bg-light mb-3" style="margin-top: 6%;">
                   <!---<img class="card-img-top" [src]="product.img" alt="Card image cap" style="height:20ch;">--->
                  <div class="card-body">
                    <h2 class="card-title">{{product.name}}</h2>

                    <p style="text-align: left;" class="price">{{product.quantity}} :Products left!</p>
                    <p style="text-align: center;" class="price">${{product.cost}}</p>
                    <input type="number" #quantity class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                      <p> </p>

                    <p><button  class="btn btn-dark" (click)="addProduct(product, quantity.value)">Add to Cart</button></p>
                  </div>
                </div>
              </div> 
            </div>
           
            
         
           



<!---Profile  Modal  -->

<ng-template #modalProfile let-modal>
<div class="row">
  <div class="row" style="margin-left: 5%;margin-top: 5%;">
       
    <!-- View Orders Card -->
    <div class="col-sm-9">
      <div class="card bg-light mb-5">
        <div class="card-body">
        <div class="row">      
          <h1 style="margin-left: 20%;" class="card-title">View Order</h1>
          <button  class="btn btn-dark" style="margin-left:55% ;" (click) = "showOrders()">View All</button>
          <table class="table">
            <thead class="thead-dark">
              <tr >
                <th>Name</th>
                <th>Products</th>
                <th>Status</th>
                <th>Cost</th>
              </tr>
            </thead>
            <tbody class = 'tbody'>
              <tr *ngFor="let user of userOrders">
                <th>{{user.name}}</th>
                <th>{{user.products}}</th>
                <th>{{user.status}}</th>
                <th>{{user.cost}}</th>
                <button>Delete</button>
              </tr>
            </tbody>
    
            
          </table>
        </div>   
        <br>
        
        </div>
        </div>
        </div>

        <!-- Payments and Funds card -->
        <div class="col-sm-5">
            <div class="card bg-light mb-4">
              <div class="card-body">
                <h2 class="card-title">Payments and Funds</h2>
                <p>Bank Balance: {{currentBalance}}</p>
                <p>Current Funding: {{currentFunds}}</p>
            
                <button style="margin-left: 20%;" class="btn btn-dark" (click)="triggerModal(AddFundsModal)">Add Funds</button>
                <!--Modal to add funds--->
                <ng-template #AddFundsModal let-modal>
                  <form #myUpdateFundsForm = "ngForm"  (ngSubmit)="updateUserFunds(myUpdateFundsForm.value)">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Add Funds from Bank to Group20</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true" >×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <label for="cardNumber">Account NUMBER: </label>
                          <div class="input-group">
                          <input type="tel" class="form-control" name="actNum" placeholder="Valid Account Number" autocomplete="cc-number" required autofocus ngModel/>
                          <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                    </div>
                    <br>
                    <label for="cardNumber">Mobile Number </label>
                          <div class="input-group">
                          <input type="tel" class="form-control" name="phoneNum" placeholder="Valid Mobile Number" autocomplete="cc-number" required autofocus ngModel/>
                          <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                    </div>
                    <br>
                  
                    <br>
                    <label for="cardNumber">Amount: </label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          
                        <span class="input-group-text">$</span>
                      </div>
                    
                      <input type="text" name="fundsToAdd" class="form-control" aria-label="Amount (to the nearest dollar)" ngModel/>
                      <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <input type="submit" value="Add Funds" class="btn btn-dark" (click)="modal.close('Save click')"/>
                      <!-- <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Add Funds</button> -->
                    </div>
                    </div>
                  </form>
                </ng-template>
               </div>
            </div>
        </div>
        <!---- Edit profile card inside profile modal-->
            <div  class="col-sm-6">
              <div class="card bg-light mb-4">
                <div class="card-body">
                    
                <div  class="col" >      
                  <h1 style="margin-left:1%;" class="card-title">Profile View</h1>
                  <p> </p>
                  <p> </p>
                  <p> </p>
                  <button style="margin-right:20% ; text-align: left;" class="btn btn-dark" (click)="triggerModal(modalDataa)">Update Profile</button>
                </div>   


                <ng-template #modalDataa let-modal>
                  <div class="modal-header">
                    <h2 class="modal-title" id="modal-basic-title">Update Profile Data</h2>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true" >×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      
                        
                          <div class="card-body">
                            <h2 class="card-title">Sign-Up</h2>
                            <form #myUpdateForm = "ngForm"  (ngSubmit)="updateUser(myUpdateForm.value)">
                              <input type = "text" class="form-control" name = "fName" placeholder = "Update First Name" ngModel>
                              <br/>             
                              <input type = "text" class="form-control" name = "lName" placeholder = "Update Last Name" ngModel>
                              <br/>     
                              <input type = "email" class="form-control" name = "email"  placeholder = "Update Email" ngModel>
                              <br/>
                              <input type = "tel" class="form-control" name = "phoneNum"  placeholder = "Update Phone Number" ngModel>
                              <br/>
                              <input type = "password" class="form-control" name = "pWord"  placeholder = "Update Password" ngModel>
                              <br/>
                              <input type = "date" class="form-control" name = "dob"  placeholder = "Update Date of Birth: MM/DD/YR" ngModel>
                              <br/>
                              <input type = "address" class="form-control" name = "street"  placeholder = "Update Street" ngModel>
                              <br/>
                              <input type="text" class="form-control"  name = "city" id="validationCustom03" placeholder = "Update City"  required>
                              <div class="invalid-feedback">
                                    Please provide a valid city.
                               </div>
                               
                              <br/>
                              <input type = "state" class="form-control" name = "state"  placeholder = "Update State" ngModel>
                              <br/>
                       
                              <input type="text" class="form-control" id="validationCustom05" name = "zip"  placeholder = "Update Zipcode" required ngModel>
                              <div class="invalid-feedback">
                                Please provide a valid zip.
                              </div>
                              <br/>
                              <p></p>
                              
                              
                             
                              <br/>
                              <p></p>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                  <label class="form-check-label" for="invalidCheck">
                                    Agree to terms and conditions to update
                                  </label>
                                  <div class="invalid-feedback">
                                    You must agree before Updating.
                                  </div>
                              </div>
                                <br>
                                <div class="modal-footer">
                                  <input type="submit" value="Update Profile" class="btn btn-dark" (click)="modal.close('Update Profile')"/>
                                  <!-- <button type="button" class="btn btn-dark" (click)="modal.close('Update Profile')">Update Profile</button> -->
                                </div>      
                              
                            </form>
                            
                          
                        </div>
                      </div>
                  </div>
         
                </ng-template>
                  
                </div>

                </div>
            </div>
        

      </div>

      

    </div>

</ng-template>

</body>
</html>