<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div class="container">
            <div class="row" >
                
                <div class="col-sm-3" *ngFor="let card of cards" >
                  <div class="card bg-light mb-3" style="margin-top: 6%;">
                    <img class="card-img-top" [src]="card.img" alt="Card image cap" style="height:20ch;">
                  <div class="card-body">
                    <h2 class="card-title">{{card.title}}</h2>
                    <h4>{{card.description}}</h4>
                    <p style="text-align: center;" class="price">$19.99</p>
                    <input type="text" class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                      <p> </p>

                    <p><button href="#" class="btn btn-dark">Add to Cart</button></p>
                  </div>
                </div>
              </div>
              
          </div>
        </div>
      
   
    

      
      
</body>
</html>