<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>




  <div *ngIf="notShopping" class="lightbox">
    <div class="row">
      <div class="col-lg-6">
        <img
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
          alt="Lightbox image 1"
          class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
        />
        <img
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Square/1.jpg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Square/1.jpg"
          alt="Lightbox image 2"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      
      <div class="col-lg-5">
        <img
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Vertical/1.jpg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/1.jpg"
          alt="Lightbox image 3"
          class="w-100 shadow-1-strong rounded"
        />
      <p></p>

          <button style="width: 200px; height: 100px; " class="btn btn-dark" type="button"  (click)=" is_Shopping()" >Start Shopping</button>
       
      </div>
      
    </div>
  </div>



  





  <div class="row" >
    <div *ngIf="isShopping" class="container">
           
            
            <div class="row" >
                
                <div class="col-sm-3" *ngFor="let product of products" >
                  <div class="card bg-light mb-3" style="margin-top: 6%;">
                   <!---<img class="card-img-top" [src]="product.img" alt="Card image cap" style="height:20ch;">--->
                  <div class="card-body">
                    <h2 class="card-title">{{product.name}}</h2>

                    <p style="text-align: left;" class="price">{{product.quantity}} :Products left!</p>
                    <p style="text-align: center;" class="price">${{product.cost}}</p>
                    <input type="number" #quantity class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                      <p> </p>

                    <p><button  class="btn btn-dark" (click)="addProduct(product, quantity.value)">Add to Cart</button></p>
                  </div>
                </div>
              </div> 
            </div>
            <!-----   Side Cart-->
            




          
          

       
      
   
          </div>
          
          <div *ngIf="isShopping" class="card" style="width: 12rem">
            <button (click) ="checkFunds()" style="width: 12rem; height: 3rem;" class="btn btn-dark"> <img style="width:3rem ; height:2rem ;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPSJptkcLi1WnHyExuc9Wg83x6s1EgSZBnFY6ftfJbwbmDBSCEbKBUff9z9uNsyoJpTy8&usqp=CAU">
            </button>
           <div class="card-body">
              <h5 class="card-title">Cart</h5>
              <h6 class="card-subtitle">Your orders</h6>
              
           <div class="col" *ngFor="let tempCart of tempCart" >
                
                  <h5>order name: {{tempCart.name}}</h5>
                  <h5>order quantity {{tempCart.quantity}}</h5>
                  <h5>order Price: ${{tempCart.price}}</h5>

                <button  class="btn btn-dark" (click)="deleteProduct(tempCart.id)">delete</button>
              </div>

                
             
              
            </div>
          </div>

  </div>
      
</body>
</html>