      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
      </head>
      <body>
        <!-----Buttons to display Employee or report or products tab-->
          <div style="margin-top:1% ;">
        <button style="margin-left: 15%;" class="btn btn-outline-dark" type="submit" (click)="Emp_visible()">Employee Tab</button>
        <button style="margin-left: 15%;"class="btn btn-outline-dark" type="submit" (click)="Prd_visible()">Product Tab</button>
        <button style="margin-left: 15%;"class="btn btn-outline-dark" type="submit" (click)="reportsVisible()">Reports Tab</button>
         </div>
        <!----Employee tab-->
        <div *ngIf="Employee">
            <div class="row" style="margin-left: 15%;margin-top: 5%;">
              <!--- Add employees card -->
                <div class="col-sm-6">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <h2 class="card-title">Add Employee</h2>
                      <form #employeeRef = "ngForm"  (ngSubmit) = "addEmployee(employeeRef.value);emp_Resetter()" ngNativeValidate >
                        <input type = "text" class="form-control" name = "cId" placeholder = "Employee ID" ngModel required>
                        <br>
                        <input type = "text" class="form-control" name = "firstname" placeholder = "Employee First Name" ngModel required>
                        <br/>
                        <input type = "text" class="form-control" name = "lastname" placeholder = "Employee Last Name" ngModel required>
                        <br/>
                        <input type = "text" class="form-control" name = "emailid"  placeholder = "Employee Email" ngModel required>
                        <br>
                     
                        <!-- <input type = "text" class="form-control" name = "emailid"  placeholder = "Employee Address" ngModel> -->
                        <br/>
                      
                        <input style="margin-left: 86% ;" type="submit"class="btn btn-dark" value="Submit">
                        <input id="reset_addEmployee" type="reset" value="reset" class="btn btn-outline-light">
                      </form>
                    </div>
                  </div>
                </div>
            <!----Delete employee card-->
                <div class="col-sm-3">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <form ngNativeValidate>
                        <h2 class="card-title">Delete Employee</h2>
                        <input name = "id" type="text" class="form-control" placeholder="Employee_ID" aria-label="Employee_ID" aria-describedby="basic-addon1" #empRef ngModel required>
                        <br>
                        <input style="margin-left: 70% ;" type="button" class="btn btn-dark" value="Submit"  (click)="deleteEmployee(empRef.value);emp_Resetter()"/><br/>
                        <input id="reset_DelEmployee" type="reset" value="reset" class="btn btn-outline-light">
                      <!-- <a href="#" class="btn btn-dark">Submit</a> -->
                      </form>
                    </div>
                    {{deleteMsg}}
                  </div>
                </div>
                
                <!---card to Display Employees -->
                <div class="col-sm-3" style="margin-left: 73%;">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <form>
                      
                      <!---Button to Display Employees -->
                      
                      <button type="button" id="openModal" #openModal style="margin-left: 20%; width: 10rem; height: 3rem;" class="btn btn-outline-dark" (click)="triggerModal(employeeModal)" data-toggle="modal" data-target="#modalData" >Employee Catlog</button>
                    </form>
                    </div>
                  </div>
                </div>


            </div>
        </div>
      
        
<!----Products tab -->
        <div *ngIf="Product">
            <div class="row" style="margin-left: 4%;margin-top: 5%;">
              <!---add products card-->
                <div class="col-sm-3">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <h5 class="card-title">Add Product</h5>
                      <form #productRef = "ngForm"  (ngSubmit) = "addProduct(productRef.value);Prod_Resetter()" ngNativeValidate>
                        <input type = "text" class="form-control" name = "id" placeholder = "Product ID" ngModel required>
                        <br/>

                        <input type = "text" class="form-control" name = "name" placeholder = "Product Name" ngModel required>
                        <br/>
                      
                        <input type = "number" name = "quantity" class="form-control" placeholder = "Quantity of products" ngModel required>
                        <br>

                        <input type = "number" name = "cost" class="form-control" placeholder = "Cost of product" ngModel required>
                        <br/>
                
                        <input type="submit"  class="btn btn-dark" value="Submit">
                        <input id="reset_AddProduct" type="reset" value="reset" class="btn btn-outline-light">
                      </form>
                      
                    </div>
                  </div>
                </div>
                <!---Delete products cards-->
                <div class="col-sm-3">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <h5 class="card-title">Delete Product</h5>
                      <form #deleteRef = "ngForm"  (ngSubmit) = "deleteProduct(deleteRef.value);Prod_Resetter()"ngNativeValidate>
                        <input type = "text" class="form-control" name = "id" placeholder = "Product ID" ngModel required>
                        <br/>

                        <input type="submit"class="btn btn-dark" value="Submit">
                        <input id="reset_DelProduct" type="reset" value="reset" class="btn btn-outline-light">
                      </form>
                    </div>
                  </div>
                </div>
                <!--- Update Price-->
                <div class="col-sm-2.5"style="margin-left:2% ;" >
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <h5 class="card-title">Update Price</h5>
                      <form #updatePriceRef = "ngForm"  (ngSubmit) = "updateProductCost(updatePriceRef.value);Prod_Resetter()"ngNativeValidate>
                        <input type = "text" class="form-control" name = "id" placeholder = "Product ID" ngModel required>
                        <br/>
                      
                        <input name = "cost" class="form-control" placeholder = "Price of products" ngModel required>
                        <br/>
                        <p></p>
                        <input type="submit" class="btn btn-dark" value="Submit">
                        <input id="reset_upProduct" type="reset" value="reset" class="btn btn-outline-light">
                      </form>
                    </div>
                  </div>
                </div>
                <!---Update products card-->
                <div class="col-sm-2.5" style="margin-left:2% ;" >
                    <div class="card bg-light mb-3">
                      <div class="card-body">
                        <h5 class="card-title">Update Quantity</h5>
                        <form #updateRef = "ngForm" (ngSubmit) = 'updateProductQuantity(updateRef.value);Prod_Resetter()' ngNativeValidate >
                            
                          
                            <input type = "email" class="form-control" name = "id" placeholder = "Product ID" ngModel required>
                            <br/>
                          
                            <input name = "quantity" class="form-control" placeholder = "Quantity of products" ngModel required>
                            <br/>
                            <p></p>
                            <input type="submit" class="btn btn-dark" value="Submit">
                            <input id="reset_upQuantity" type="reset" value="reset" class="btn btn-outline-light">
                          </form>
                      </div>
                    </div>
                    <div class="col-sm-12" style="margin-left: 60%;">
                      <div class="card bg-light mb-5">
                        <div class="card-body">
                          <form>
                          
                          <!---Button to Display all Products and user -->
                          <button type="button" id="openModal" #openModal style="margin-left: 20%; width: 8rem; height: 3rem;" class="btn btn-outline-dark" (click)="triggerModal(ProductModal)" data-toggle="modal" data-target="#modalData" >Product Catlog</button>
                          </form>
                        </div>
                      </div>
                    </div>

                  </div>
              </div>
            
            <!----Request from -->
            <div style="margin-left: 30% ;" *ngFor = "let r of requests">
              <div class="row">
              <div class="col-sm-6"  >
                
                <div class="card bg-light mb-3" style="margin-top: 6%;">
                <div class="card-body">
                  <h2 class="card-title"><li>Type: {{r.type}}. Message: {{r.description}}</h2>
                  
                  

                  <p><button  class="btn btn-dark" style="margin-left: 70% ;" (click) = "completedRequest(r.type, r.description,r.sender)">Completed</button></p><!---  -->
                </div>
              </div>
                </div>
            </div>
          </div>
            
        </div> 

           <!--- Rpeorts  Tab-->
          <div *ngIf="report">
            <form  #reportForm = "ngForm"  (ngSubmit)="productsReport(reportForm.value)">
            <div style="margin-left:10% ; margin-top: 2%;" class="row">
              <h2> Date:</h2>
              <input #fromDate type="date" placeholder="From Date" title="From Data" ngModel >
              
          

              <div class="input-group-append" style="margin-left:15%">
               
                        
                  <select #ClassText class="custom-select" id="inputGroupSelect04">
                    <option selected>Classification...</option>
                    <option value="DAILY">Daily</option>
                    <option value="WEEKLY">Weekly</option>
                    <option value="MONTHLY">Monthly</option>
                    <option value="YEARLY">Yearly</option>
                    <option value="CUSTOMER">Customers</option>
                    <option value="PRODUCT">Products</option>
                  </select>
                  &nbsp;&nbsp;
                  <button  class="btn btn-outline-secondary" type="submit" (click)="generateReports(ClassText.value,fromDate.value)" >Generate</button>
                  &nbsp;&nbsp;
                <button  *ngIf="generated" class="btn btn-outline-dark" type="submit">Submit</button>
              </div>
            </div>
            
          </form>
          
          
            <div class="row" style="margin-left: 15%;margin-top: 5%;">
                <div class="col-sm-6">
                  <div class="card bg-light mb-3">
                    <div class="card-body">
                      <h2 class="card-title">Sold Item</h2>
                      <table class="table">
                        <thead class="thead-dark">
                          <tr >
                            <th>{{tableHeading4}}</th>
                            <th>{{tableHeading1}}</th>
                            <th>{{tableHeading2}}</th>
                            <th>{{tableHeading3}}</th>
                          </tr>
                        </thead>
                        <tbody class = 'tbody'>
                          <tr *ngFor="let user of userReport">
                            <th>{{user.date}}</th>
                            <th>{{user.name}}</th>
                            <th>{{user.products}}</th>
                            <th>{{user.cost}}</th>
                          </tr>
                          <tr *ngFor="let prodcut of productReport">
                            <th>N/A</th>
                            <th>{{prodcut.name}}</th>
                            <th>{{prodcut.sold}}</th>
                            <th>{{prodcut.left}}</th>
                          </tr>
                          <tr *ngFor="let custom of custormerReport">

                            <th>N/A</th>
                            <th>{{custom.name}}</th>
                            <th>N/A </th>
                            <th>{{custom.totalRevenue}}</th>
                          </tr>
                          
                        </tbody>
                
                        
                      </table>
                      
                    </div>
                  </div>
                </div>
                
                
                
            </div>
     
          </div>

<!-----Modal to display Employee-->
          <ng-template #employeeModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Employee Catlog</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" >×</span>
              </button>
            </div>
            <div class="modal-body">
             
              <table class="table">
                <thead class="thead-dark">
                  <tr >
                    <th>Employee First Name</th>
                    <th>Employee Last Name</th>
                    <th>Employee ID</th>
                    <th>Email ID</th>
                  </tr>
                </thead>
                <tbody class = 'tbody'>
                  <tr *ngFor="let emp of employees">
                    <th>{{emp.firstname}} </th>
                    <th>{{emp.lastname}}</th>
                    <th>{{emp._id}}</th>
                    <th>{{emp.emailid}}</th>
                    
                  </tr>
                </tbody>
        
                
              </table>
            </div>
              
                  <div class="modal-footer">
                    <button style="margin-top:10% ;" (click) ="modal.dismiss('Cross click')" style= "width: 6rem; height: 2rem;" class="btn btn-dark">Close</button>
                  </div>
                
              
           
          </ng-template>


<!-----Modal to display all the products-->

          <ng-template #ProductModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">List of Products</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" >×</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead class="thead-dark">
                  <tr >
                    <th>Products Name</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                  </tr>
                </thead>
                <tbody class = 'tbody'>
                  <tr *ngFor="let product of products">
                    <th>{{product.name}}</th>
                    <th>{{product._id}}</th>
                    <th>{{product.quantity}}</th>
                    <th>{{product.cost}}</th>
                  </tr>
                </tbody>
        
                
              </table>
              

               
                 
            </div>
              
                  <div class="modal-footer">
                    <button style="margin-top:10% ;" (click) ="modal.dismiss('Cross click')" style="width: 6rem; height: 2rem;" class="btn btn-dark">Close</button>
                  </div>
                
              
           
          </ng-template>

        
      </body>
      </html>